<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if user.is_authenticated %}
             <p>Hello, {{ user.username }}! 
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
              </p>
        {% else %}
            <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>